<h3>Votre compte a été désactivé.</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Votre compte vient d'être désactivé par nos administrateurs.

Bien cordialement.
<a href="{{ urlSite }}">{{ urlSite }}</a>