    <!-- CONTENT -->
    <div class="login_error modal_connexion_container col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">  
        <h3><i class="fa fa-times"></i> L'adresse email ou le mot de passe que vous avez entré est incorrect</h3>
        
            <div class="submit facebook col-xs-12">
                <a href=""><i class="fa fa-facebook-square"></i>Se connecter avec Facebook</a>
            </div>
        <form action="accueil.html" method="post">
            <input type="mail" name="connexion_mail" class="connexion_input col-xs-12" placeholder="Mon email">
            <input type="password" name="connexion_password" class="connexion_input col-xs-12" placeholder="Mon mot de passe">
            <input type="checkbox" name="connexion_se_souvenir" id="connexion_se_souvenir">
            <label class="souvenir" for="connexion_se_souvenir">Se souvenir de moi</label>

            <input type="submit" class="connexion_submit col-xs-12" name="connexion_submit" value="Se connecter">
            <a class="col-xs-12 oublie" href="">Mot de passe oublié</a>
        </form>
        <div class="pas_membre_container col-xs-12">
            <p>Pas encore membre?</p>
            <a class="pas_membre" href="">Inscrivez-vous</a>
        </div>
    </div>
    <!-- FIN CONTENT -->