{% extends "::base.html.twig" %}

{% block title %}Perte de mot de pass{% endblock %}

{% block body %}
    <!-- CONTENT -->
    <div class="login_error modal_connexion_container col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">  
            {% if error %}
            <h3>{{ error|trans([], 'FOSUserBundle') }}</h3>
            {% endif %}
        <form action="{{ path('fos_user_security_check') }}" method="post">
            <input type="email" id="username" name="username" class="connexion_input col-xs-12" placeholder="Mon email">
            </div>
            <input type="submit" class="connexion_submit col-xs-12" id="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>
        <div class="pas_membre_container col-xs-12">
            <p>Pas encore membre?</p>
            <a class="pas_membre" href="{{ path('fos_user_registration_register') }}">Inscrivez-vous</a>
        </div>
    </div>
    <!-- FIN CONTENT -->
{% endblock %}