{% extends "::base.html.twig" %}

{% block title %}Comment ça marche?{% endblock %}

{% block body %}
    <!-- CONTENT -->
    <main>
        <div class="template_info col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <h1>Comment ça marche?</h1>
            <div class="bloc_info">
                <h2>Rechercher un déplacement : Démenagement et covoiturage</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ratione ad dignissimos, quidem qui tenetur iusto facilis fuga sunt perspiciatis sequi voluptate reprehenderit mollitia quaerat placeat ab praesentium soluta laborum ut. Expedita, dignissimos tempora iusto accusantium, voluptatibus deserunt ab, ducimus laborum error, voluptates tempore. Inventore, porro, aliquam. Eaque dolorem deserunt mollitia soluta.</p>
            </div>
            <div class="bloc_info">
                <h2>Rechercher un déplacement : Taxi et Vtc</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ratione ad dignissimos, quidem qui tenetur iusto facilis fuga sunt perspiciatis sequi voluptate reprehenderit mollitia quaerat placeat ab praesentium soluta laborum ut. Expedita, dignissimos tempora iusto accusantium, voluptatibus deserunt ab, ducimus laborum error, voluptates tempore. Inventore, porro, aliquam. Eaque dolorem deserunt mollitia soluta.</p>
            </div>
            <div class="bloc_info">
                <h2>Créer une annonce</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nemo quos nulla corporis, sint magni quasi laborum perferendis hic excepturi eveniet vero suscipit deserunt nesciunt quibusdam nostrum doloremque ipsam mollitia eaque aliquid iusto numquam doloribus veniam officiis! Libero nam ea ratione ducimus fuga inventore consequatur perspiciatis commodi sunt totam non, adipisci quis praesentium id nemo delectus, rerum reprehenderit laboriosam dolorem nulla quia explicabo dolore consectetur atque. Alias vero sunt reiciendis porro vel veniam eius praesentium, ab velit ullam dolorum accusantium non beatae voluptatibus numquam quas libero, voluptatem cumque commodi obcaecati ex. Repudiandae at quaerat hic facere velit, esse cum provident, ipsa, modi pariatur optio nulla veritatis blanditiis, itaque. Excepturi, esse, illo. Reiciendis dicta aspernatur quisquam porro, tempore dolorum pariatur perspiciatis.</p>
            </div>
            <div class="bloc_info">
                <h2>Comment m'inscrire ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id est nobis eos non recusandae saepe ea blanditiis sed labore, corporis modi omnis quo repellat odit voluptatem maiores laboriosam deserunt dicta aut. Aperiam assumenda debitis magni necessitatibus tempore iusto voluptates, incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsum pariatur nam saepe ex nisi.</p>
            </div>
            <div class="bloc_info">
                <h2>Modifier mon profil</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id est nobis eos non recusandae saepe ea blanditiis sed labore, corporis modi omnis quo repellat odit voluptatem maiores laboriosam deserunt dicta aut. Aperiam assumenda debitis magni necessitatibus tempore iusto voluptates, incidunt?</p>
            </div>
            <div class="bloc_info">
                <h2>Laisser un avis</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id est nobis eos non recusandae saepe ea blanditiis sed labore, corporis modi omnis quo repellat odit voluptatem maiores laboriosam deserunt dicta aut. Aperiam assumenda debitis magni necessitatibus tempore iusto voluptates, incidunt?</p>
            </div>
        </div>
    </main>
    <!-- FIN CONTENT -->
{% endblock %}
