{% extends "::base.html.twig" %}

{% block title %}Charte de la bonne utilisation des cookies{% endblock %}

{% block body %}
    <!-- CONTENT -->
    <main>
        <div class="template_info col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <h1>Charte de la bonne utilisation des cookies</h1>
            <div class="bloc_info">
                <h2>Les cookies, qu’est-ce que c’est ?</h2>
                <p>Un cookie est un fichier composé d’un ensemble de caractères qui est envoyé à votre terminal quand vous naviguez sur un site web ou utilisez une application. Le cookie permet par exemple au Site de vous reconnaitre lors d’une utilisation ultérieure.</p>
            </div>
            <div class="bloc_info">
                <h2>Les cookies, quels sont-ils ?</h2>
                <p>Plusieurs types de cookies, avec des finalités différentes, sont utilisés sur le Site. Certains sont nécessaires pour pouvoir utiliser l’ensemble de nos services.
                </p>
            </div>
            <div class="bloc_info">
                <h2>Les cookies strictement nécessaires</h2>
                <p>Les cookies nécessaires au fonctionnement de notre Site sont des cookies sans lesquels vous ne pourrez utiliser l’intégralité des services proposés sur notre Site. Ces cookies sont déposés par la Société et ne concernent que le fonctionnement de notre Site.Les cookies strictement nécessaires que nous émettons sur notre Site nous permettent de : détecter et mémoriser l’activation ou non de Javascript sur votre terminal, nécessaire pour profiter de certaines fonctionnalités du Site.</p>
            </div>
            <div class="bloc_info">
                <h2>Les cookies analytiques</h2>
                <p>Il s’agit de cookies qui nous permettent de connaître l’utilisation et les performances de notre [Site/Application] et de pouvoir ainsi en améliorer le fonctionnement. Ces cookies peuvent être déposés par la Société ou des prestataires tiers. Les cookies analytiques que nous émettons sur notre Site nous permettent de : comptabiliser le nombre de visiteurs sur notre Site notamment à des fins statistiques ; établir des statistiques et volumes de fréquentation et d'utilisation des divers éléments composant notre Site (rubriques et contenus visités, parcours), nous permettant d'améliorer l'intérêt et l'ergonomie de nos services; assurer que le Site est cohérent ; analyser votre navigation et nous permettre de mesurer l’audience de notre Site ; enregistrer des cookies à partir du Site pour analyser comment le Site fonctionne et comment vous vous déplacez sur le Site. Ces informations nous permettent ensuite de faire des modifications sur le Site aux fins d'améliorer votre expérience en ligne.</p>
            </div>
            <div class="bloc_info">
                <h2>Les cookies, quels sont vos choix ?</h2>
                <p>Parce qu’ils servent certaines finalités spécifiques, certains cookies sont déposés sur votre terminal sans que vous ne puissiez les refuser. Il s’agit notamment des cookies ayant pour finalité exclusive de permettre ou de faciliter la communication électronique (cookies « identifiants de session » par exemple). Vous avez plusieurs options pour gérer les cookies. Tout paramétrage que vous pouvez entreprendre sera susceptible de modifier votre navigation sur notre Site et vos conditions d'accès à certains services nécessitant l'utilisation de cookies. L’installation de ces cookies n’est pas obligatoire et vous pouvez configurer votre navigateur pour qu’il refuse l’installation des cookies. Votre navigateur peut aussi être paramétré pour vous signaler les cookies qui sont déposés sur votre terminal et vous demander de les accepter ou de les refuser. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement. Vos choix ne sont pas définitifs et vous pouvez à tout moment les modifier par les moyens décrits ci-dessous.</p>
            </div>
            <div class="bloc_info">
                <h2>Choix 1 – Accepter les cookies</h2>
                <p>L’enregistrement d’un cookie dans un terminal est subordonné à la volonté de son utilisateur. Si vous acceptez l’enregistrement des cookies sur votre ordinateur, les cookies intégrés dans les pages et contenus que vous consultez pourront être stockés temporairement dans un espace dédié de votre terminal. Ils ne seront lisibles que par l’émetteur.</p>
            </div>
            <div class="bloc_info">
                <h2>Choix 2 – Refuser les cookies</h2>
                <p>Vous pouvez à tout moment refuser l’enregistrement des cookies. Dans ce cas, vous ne pourrez plus bénéficier d’un certain nombre de fonctionnalités, notamment celles qui nécessitent de vous identifier. Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.</p>
            </div>

        </div>
    </main>
    <!-- FIN CONTENT -->
{% endblock %}
