{% extends "::base.html.twig" %}

{% block title %}Modifier mon compte{% endblock %}

{% block body %}
    <!-- CONTENT -->
    <div class="profil_container col-xs-12 col-md-offset-2 col-md-8">
        
        {% include 'UserBundle:Profile:menu_profile.html.twig' %}
        
        <!-- info profil -->
        <div class="info_profil row">
            <div class="modification_container infocompte col-xs-12 inscription_form modal_connexion_container">
                <h2>Gestion du compte</h2>
                <form method="post" action="">
                    
                    <div class="bloc row">
                    <h4>Changement de votre email</h4>
                        <label class="col-xs-12 col-sm-4" for="email_old">Ancienne adresse mail</label>
                        <input class="col-xs-12 col-sm-8 connexion_input" id="email_old" name="compte_email_old" type="text" >
                        <label class="col-xs-12 col-sm-4" for="email_new">Nouvelle adresse mail</label>
                        <input class="col-xs-12 col-sm-8 connexion_input" id="email_new" name="compte_email_new" type="text" >
                        <label class="col-xs-12 col-sm-4" for="email_confirm">Confirmation nouvelle adresse mail</label>
                        <input class="col-xs-12 col-sm-8 connexion_input" id="email_confirm" name="compte_email_confirm" type="text" >
                    </div>

                    <div class="bloc row">
                    <h4>Changement de votre mot de passe</h4>
                        <label class="col-xs-12 col-sm-4" for="password_old">Ancien mot de passe</label>
                        <input class="col-xs-12 col-sm-8 connexion_input" id="password_old" name="compte_password_old" type="text" >
                        <label class="col-xs-12 col-sm-4" for="password_new">Nouveau mot de passe</label>
                        <input class="col-xs-12 col-sm-8 connexion_input" id="password_new" name="compte_password_new" type="text" >
                        <label class="col-xs-12 col-sm-4" for="password_confirm">Confirmation du nouveau mot de passe</label>
                        <input class="col-xs-12 col-sm-8 connexion_input" id="password_confirm" name="compte_password_confirm" type="text" >
                    </div>
                    <input type="submit" class="submit_modification col-sm-offset-4 col-sm-4 col-xs-12" value="Enregistrer">
                </form>
            </div>
        </div>
        <!-- FIN info profil -->
    </div>
    <!-- FIN CONTENT -->
{% endblock %}
